body {
  color: #000;
  background-color: white;
  font-size: 18px;
}
h1 {
  font-size: 42px;
  text-align: center
}
h2 {
  font-size: 28px;
  background-color: #B2D6FF;
  text-align: center;
}
h1 {
  background-color: #B2D6FF;
  padding: 50px;
}
  em, strong {
  }
.page {
  width: 600px;
  margin: 0 auto;
}
div {
  color: #FFF;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
