body {
  color: #000;
  background-color: #white;
  font-size: 19px;
  margin: 20px;
  padding: 50px;
}
h1 {
  font-size: 32px;
  text-align: center;
  background-color: #B2D6FF;
  margin: 20px;
  padding: 50px;
}
div {
  color: #FFF;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
img {
  text-align: center;
}
